{% extends "finance/layout.html" %}
{% load static %}
{% load i18n humanize %}

{% block extra_css %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="login-wrapper">
        <h1 class="mb-3">{% trans "Login" %}</h1>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form action="{% url 'finance:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input id="id_username" autofocus class="form-control" type="text" name="username" placeholder='{% trans "Username" %}' required>
            </div>
            <div class="form-group mb-3">
                <input id="id_password" class="form-control" type="password" name="password" placeholder='{% trans "Password" %}' required>
            </div>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-6">
                    <input class="btn btn-primary px-5" type="submit" value='{% trans "Login" %}'>
                </div>
                <div class="col-12 col-md-6 text-end">
                    {% trans "Don't have an account?" %} <a class="color-green" href="{% url 'finance:register' %}">{% trans "Register here." %}</a>
                </div>
            </div>
            
        </form>
       
    </div>
{% endblock %}